<div>
  <h4>Visualizar Resultado</h4>
</div>
  
<form #formulario="ngForm" (ngSubmit)="getResultado()" style="margin-top: 5%;">
  <div class="form-group row">
    <label style="text-align: left;" class="col-sm-4 col-form-label" for="studentId">Matrícula do Aluno</label>
    <div class="col-sm-8">
      <input type="text" [(ngModel)]="dadosTarefa.studentId" class="form-control" name="studentId" id="studentId">
    </div>
  </div>
  
  <div class="form-group row">
    <label style="text-align: left;" class="col-sm-4 col-form-label" for="listNumber">Id da Lista</label>
    <div class="col-sm-8">
      <input type="text" [(ngModel)]="dadosTarefa.listNumber" class="form-control" name="listNumber" id="listNumber">
    </div>
  </div>
    
    <button type="submit" class="btn btn-primary">Visualizar</button>
    
</form>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Lista</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Exception</th>
        <th scope="col">Válidados</th>
        <th scope="col">Falhados</th>
        <th scope="col">Total de Testes</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ result.listName }}</td>
        <td>{{result.studentId}}</td>
        <td>{{result.exceptions}}</td>
        <td>{{result.passed}}</td>
        <td>{{result.failed}}</td>
        <td>{{result.total}}</td>
      </tr>
    </tbody>
  </table>